@import "../core";

// 霓虹灯字.
#neon {
    font: bold 100px/1.5 georgia,sans-serif;
    @include text-shadow(
        0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 
        0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 
        0 0 100px #ff00de, 0 0 150px #ff00de
    );
    text-align: center;
}

// 火焰字.
#fire {
    font: bold 100px/1.5 arial,sans-serif;
    @include text-shadow(
        0 0 5px #fff, 0 0 20px #fefcc9, 10px -10px 30px #feec85,
        -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606,
        0 -80px 70px #973716, 10px -90px 80px #451b0e
    );
    text-align: center;
}
